@model ExaltedHelper.Models.CharmDataModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Create Charm</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="editor-multiline-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExaltedTypeDataModelId, "ExaltedTypeDataModelId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ExaltedTypeDataModelId", String.Empty)
                @Html.ValidationMessageFor(model => model.ExaltedTypeDataModelId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinimumEssance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinimumEssance)
                @Html.ValidationMessageFor(model => model.MinimumEssance)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MinimumAbility, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MinimumAbility)
                @Html.ValidationMessageFor(model => model.MinimumAbility)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WillPowerCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WillPowerCost)
                @Html.ValidationMessageFor(model => model.WillPowerCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EssanceCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EssanceCost)
                @Html.ValidationMessageFor(model => model.EssanceCost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HealthCost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HealthCost)
                @Html.ValidationMessageFor(model => model.HealthCost)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
