@using ExaltedHelper.Helpers;
@model IEnumerable<ExaltedHelper.Models.CharmViewModel>

@{
    ViewBag.Title = "Index";
}



<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Filter by exalted type
        </th>
        <th>

        </th>
    </tr>
    <tr>
        <td>
            @Html.DropDownList("exaltedTypeDropDown", ViewBag.ExaltedTypes as SelectList)
        </td>
        <td>
           
        </td>
    </tr>
</table>
<p>

</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="container">
    @Html.Action("FilterAction", new { exaltedTypeId = 1 })
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(function () {
            $('#exaltedTypeDropDown').on('change', function () {
                var exaltedTypeId = $(this).val();
                $.ajax({
                    url: '@Url.Action("FilterAction")',
                    type: 'GET',
                    data: { exaltedTypeId: exaltedTypeId },
                    cache: false,
                    success: function (result) {
                        $('#container').empty();
                        $('#container').html(result);
                    }
                });
            });
        });
    });
</script>

